.profile-image{
    width: 30px;
    height: 30px;
}
.brand-name{
    display: flex;
    align-items: center;
    color:#4a5267;
    gap: 10px;
}

.brand-name:hover, .nav-link:hover{
    color:  rgb(255, 51, 0);
}

.active {
    color: red !important;
}